@import "../../../styles/variables";

.top-banner {
  &-wrapper {
    height: calc(100vh);
    width: 100vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url('/assets/top-banner.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1, h2 {
      text-align: center;
    }

    #main-title {
      color: #fff;
      letter-spacing: 2px;
      font-size: 64px;
    }

    #main-subtitle {
      color: white;
      font-weight: lighter;
      font-size: 40px;
      margin-bottom: 40px;

      span {
        font-weight: bold;
        color: $primary-accent-color;
      }
    }
  }

  &-btns {
    margin-top: 24px;

    button:first-child {
      margin-right: 16px;
    }
  }
}

@media screen and (max-width: $tablet-container-max-width) {
  .top-banner {
    &-wrapper {
      height: calc(100vh);
      width: 100vw;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("/assets/top-banner.jpeg");
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      #main-title {
        font-size: 32px;
      }

      #main-subtitle {
        font-size: 24px;
      }
    }

    &-btns {
      .btn-xl {
        font-size: 14px;
      }
    }
  }
}

