<div class="top-banner-wrapper">
    <h1 id="main-title">
      Відкрий Україну разом з нами!
    </h1>
    <h2 id="main-subtitle">
      Понад <span>100</span> унікальних маршрутів Україною розрахованих на будь-який бюджет
    </h2>
    <div class="top-banner-btns">
      <button class="primary-btn btn-xl" (click)="toursClicked.emit()">
        Наші тури
      </button>
      <button class="secondary-btn btn-xl" (click)="onContactUsClick()">
        Контакти
      </button>
    </div>
</div>

