<div class="header" [class.scrolled]="scrolledPastHomeSection">
  <div class="header-inner">
    <div class="logo" routerLink="/" (click)="scrollToTop()">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 9H5C3.3 9 2 10.3 2 12V25C2 26.7 3.3 28 5 28H8V9Z" fill="black"/>
          <path d="M22 9H10V28H22V9Z" fill="black"/>
          <path d="M27 9H24V28H27C28.7 28 30 26.7 30 25V12C30 10.3 28.7 9 27 9Z" fill="black"/>
          <path d="M21 11H11C10.4 11 10 10.6 10 10V8C10 6.3 11.3 5 13 5H19C20.7 5 22 6.3 22 8V10C22 10.6 21.6 11 21 11ZM12 9H20V8C20 7.4 19.6 7 19 7H13C12.4 7 12 7.4 12 8V9Z" fill="black"/>
          <path d="M5 29C4.4 29 4 28.6 4 28V27C4 26.4 4.4 26 5 26C5.6 26 6 26.4 6 27V28C6 28.6 5.6 29 5 29Z" fill="black"/>
          <path d="M27 29C26.4 29 26 28.6 26 28V27C26 26.4 26.4 26 27 26C27.6 26 28 26.4 28 27V28C28 28.6 27.6 29 27 29Z" fill="black"/>
        </svg>
        <span>UA Trips</span>
    </div>
    <div class="navigation-bar">
      <a (click)="itemClicked.emit(Routes.tours)" routerLink="/">Подорожі</a>
      <a (click)="onContactUsClick()" routerLink="/">Контакти</a>
    </div>
  </div>
</div>
