@import "../../../styles/variables";

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
  color: $primary-font-color;
  cursor: pointer;

  svg {
    margin-right: 8px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $nav-bar-height;
  position: fixed;
  width: 100%;
  z-index: 100;

  &.scrolled {
    background-color: white;

    .navigation-bar a {
      color: $primary-font-color;
      text-decoration: none;
    }
  }

  &-inner {
    width: $desktop-container-max-width;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navigation-bar {
      a {
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        padding: 8px 24px;
        display: inline-block;
        text-decoration: none;

        &.active, &:hover {
          border-bottom: 2px solid $primary-accent-color;
        }
      }
    }
  }

}

@media screen and (max-width: $desktop-container-max-width) {
  .header {
    max-width: $desktop-container-max-width;
    width: auto;
    min-width: $mobile-container-max-width;

    &-inner {
      padding: 0 16px;
    }
  }
}

@media screen and (max-width: $mobile-container-max-width) {
  .header {
    max-width: $mobile-container-max-width;
    width: auto;
    min-width: auto;

    .header-inner .navigation-bar {
      a:first-child {
        display: none;
      }
    }
  }
}
