@import "src/styles/variables.scss";

.footer-container {
  background-color: #2d2d2d;
  width: 100%;
  margin-top: 60px;
}

.footer-container-inner {
  padding: 40px 0;
  max-width: $desktop-container-max-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;

  a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: lighter;
    padding: 8px;
    border-radius: 6px;

    > svg {
      fill: white;
      margin-right: 16px;
    }

    &:hover {
      background-color: #fff;
      color: #2d2d2d;

      svg {
        fill: #2d2d2d !important;
        color: #2d2d2d !important;
      }
    }
  }

  .col {
    width: 48%;
  }

  .social {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}


@media screen and (max-width: $desktop-container-max-width) {
  .footer-container-inner {
    padding: 32px;
    flex-direction: column;
    align-items: center;

    .col {
      width: 100%;
      margin-bottom: 32px;
    }
  }
}
