<div class="footer-container">
  <div class="footer-container-inner">
    <div class="col">
      <h3>Наші контакти</h3>
      <p><strong>Адреса:</strong> м. Київ, вул. Львівська, 1</p>
      <p><strong>Телефон:</strong> +38 (067) 123-45-67</p>
      <p><strong>Електронна пошта:</strong> tour-agency@tourblabla.com</p>
      <a routerLink="/description">Опис функцілналу</a>
    </div>
    <div class="col">
      <h3>Ми в соціальних мережах</h3>
      <ul class="social">
        <li><a href="https://www.facebook.com/" target="_blank">
          <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <path d="M39.9996 19.7546C39.9529 15.9433 38.8179 12.2246 36.7283 9.03669C34.6387 5.84875 31.6819 3.32425 28.2058 1.76053C24.7294 0.196811 20.8788 -0.341004 17.1072 0.210387C13.3357 0.761803 9.80019 2.37945 6.91718 4.8729C4.03415 7.36632 1.92366 10.6317 0.834254 14.2843C-0.255128 17.9371 -0.278079 21.8249 0.768151 25.4903C1.81438 29.1556 3.88619 32.4455 6.7396 34.9728C9.59298 37.5001 13.1092 39.1594 16.874 39.7552V25.5798H11.8738V19.7546H16.874V15.3295C16.7582 14.3006 16.8697 13.2588 17.2007 12.2777C17.5317 11.2966 18.074 10.4 18.7893 9.65138C19.5045 8.90271 20.3753 8.32017 21.3403 7.94488C22.3054 7.56957 23.3412 7.41064 24.3742 7.47935C25.8737 7.49987 27.3698 7.6336 28.8493 7.87936V12.8795H26.3492C25.9182 12.8251 25.4802 12.8683 25.0682 13.0059C24.6559 13.1435 24.2799 13.3719 23.9679 13.6743C23.6559 13.9767 23.4159 14.3454 23.2657 14.753C23.1151 15.1607 23.0584 15.597 23.0991 16.0295V19.8046H28.6493L27.7493 25.6298H23.1241V39.6302C27.849 38.8829 32.1497 36.4669 35.2458 32.8203C38.3418 29.1736 40.0284 24.5383 39.9996 19.7546Z"/>
          </svg>
          <span>Facebook</span>
        </a></li>
        <li><a href="https://twitter.com/" target="_blank">
          <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_375_665)">
              <path d="M20 0C8.95313 0 0 8.95313 0 20C0 31.0469 8.95313 40 20 40C31.0469 40 40 31.0469 40 20C40 8.95313 31.0469 0 20 0ZM27.9844 16.8906C27.9922 17.0625 27.9922 17.2422 27.9922 17.4219C27.9922 22.8516 23.8594 29.1172 16.2969 29.1172C13.9766 29.1172 11.8125 28.4375 10 27.2734C10.3203 27.3125 10.6484 27.3281 10.9844 27.3281C12.9063 27.3281 14.6797 26.6719 16.0859 25.5703C14.2891 25.5391 12.7656 24.3516 12.25 22.7187C12.5 22.7656 12.7578 22.7891 13.0234 22.7891C13.3984 22.7891 13.7656 22.7422 14.1094 22.6406C12.2266 22.2656 10.8125 20.6016 10.8125 18.6094V18.5625C11.3672 18.8672 12 19.0547 12.6719 19.0781C11.5703 18.3438 10.8438 17.0781 10.8438 15.6562C10.8438 14.9062 11.0469 14.1953 11.3984 13.5859C13.4297 16.0781 16.4531 17.7109 19.8672 17.8828C19.7969 17.5859 19.7578 17.2734 19.7578 16.9453C19.7578 14.6797 21.6016 12.8359 23.8672 12.8359C25.0469 12.8359 26.1172 13.3359 26.8672 14.1328C27.8047 13.9453 28.6797 13.6094 29.4766 13.1328C29.1719 14.0938 28.5156 14.8984 27.6719 15.4063C28.5 15.3047 29.2969 15.0859 30.0312 14.7578C29.4844 15.5859 28.7891 16.3047 27.9844 16.8906Z"/>
            </g>
            <defs>
              <clipPath id="clip0_375_665">
                <rect width="40" height="40"/>
              </clipPath>
            </defs>
          </svg>
          <span>Twitter</span>
        </a></li>
        <li><a href="https://www.instagram.com/" target="_blank">
          <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_375_659)">
              <path d="M20 23.5156C21.9375 23.5156 23.5235 21.9375 23.5235 19.9922C23.5235 19.2266 23.2735 18.5156 22.8594 17.9375C22.2188 17.0547 21.1797 16.4688 20.0078 16.4688C18.836 16.4688 17.7969 17.0469 17.1563 17.9375C16.7422 18.5156 16.4922 19.2266 16.4922 19.9922C16.4844 21.9375 18.0625 23.5156 20 23.5156Z"/>
              <path d="M27.6875 15.6953V12.7422V12.3047H27.25L24.2969 12.3125L24.3125 15.7031L27.6875 15.6953Z"/>
              <path d="M25.4688 20C25.4688 23.0156 23.0156 25.4687 20 25.4687C16.9844 25.4687 14.5312 23.0156 14.5312 20C14.5312 19.2734 14.6797 18.5781 14.9375 17.9453H11.9531V26.1328C11.9531 27.1875 12.8125 28.0469 13.8672 28.0469H26.1328C27.1875 28.0469 28.0469 27.1875 28.0469 26.1328V17.9453H25.0625C25.3281 18.5781 25.4688 19.2734 25.4688 20Z"/>
              <path d="M20 0C8.95313 0 0 8.95313 0 20C0 31.0469 8.95313 40 20 40C31.0469 40 40 31.0469 40 20C40 8.95313 31.0469 0 20 0ZM30 17.9453V26.1328C30 28.2656 28.2656 30 26.1328 30H13.8672C11.7344 30 10 28.2656 10 26.1328V17.9453V13.8594C10 11.7266 11.7344 9.99219 13.8672 9.99219H26.1328C28.2656 9.99219 30 11.7266 30 13.8594V17.9453Z"/>
            </g>
            <defs>
              <clipPath id="clip0_375_659">
                <rect width="40" height="40"/>
              </clipPath>
            </defs>
          </svg>
          <span>Instagram</span>
        </a></li>
        <li>
          <a href="https://www.youtube.com/" target="_blank">
          <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_375_655)">
              <path d="M17.3359 23.8516L23.8828 20.0078L17.3359 16.1641V23.8516Z"/>
              <path d="M20 0C8.95313 0 0 8.95313 0 20C0 31.0469 8.95313 40 20 40C31.0469 40 40 31.0469 40 20C40 8.95313 31.0469 0 20 0ZM30 23.5781C30 27.0234 26.5547 27.0234 26.5547 27.0234H13.4453C10 27.0234 10 23.5781 10 23.5781V16.4297C10 12.9844 13.4453 12.9844 13.4453 12.9844H26.5547C30 12.9844 30 16.4297 30 16.4297V23.5781Z"/>
            </g>
            <defs>
              <clipPath id="clip0_375_655">
                <rect width="40" height="40"/>
              </clipPath>
            </defs>
          </svg>
            <span>YouTube</span>
        </a></li>
      </ul>
    </div>
  </div>
</div>
