@import "src/styles/variables";
.tour-page__wrapper {
  padding-top: 100px;
  max-width: $desktop-container-max-width;
  margin: 0 auto;
}

.top-container {
  display: flex;

  .col {
    width: 50%;

    img {
      width: 100%;
      height: 340px;
      border-radius: 6px;
      object-fit: cover;
    }

    &.col-right {
      padding-left: 32px;
    }
  }

  ul.tour-info-list {
    list-style: none;
    padding-inline-start: 0;

    li.tour-info-item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      color: $secondary-font-color;
    }

    .tour-icon {
      background-color: $primary-accent-color;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
      flex: 0 0 40px;
    }
  }

}

.plan__wrapper {
  table.plan-table {
    border-spacing: 16px;
    tr {
      td:first-child {
        font-weight: bold;
        width: 100px;
        border-left: 4px solid $primary-accent-color;
      }

      td {
        padding: 8px 16px;
      }
    }
  }
}

.book__wrapper {
  background-color: white;
  box-shadow: $shadow-color 0 0 10px;
  border-radius: 6px;
  margin-top: 40px;

  .select-btn {
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 4px 8px;
    color: $primary-accent-color;
    font-weight: bold;

    &:hover {
      background-color: $primary-accent-color;
      color: white;
    }
  }

  .book-header {
    background-color: darken($primary-bg, 5%);
    padding: 4px 32px;
  }

  &-inner {
    display: flex;
    padding: 32px;
  }

  .col {
    width: 50%;
    padding: 0 16px;
  }

  .dates-table {
    border: 1px solid $primary-bg;
    width: 100%;

    thead, tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
    }

    thead {
      width: 100%;

      th {
        text-align: left;
        padding: 8px 16px;
        border-bottom: 1px solid $primary-bg;
      }
    }

    tbody {
      width: 100%;
      height: 300px;
      overflow-y: scroll;
      display: block;

      tr {
        display: table;
        width: 100%;
        table-layout: fixed;

        &.selected {
          background-color: $primary-bg;
        }

        td {
          padding: 8px 16px;
        }
      }
    }

  }
}

@media screen and (max-width: $desktop-container-max-width) {
  .tour-page__wrapper {
    max-width: $tablet-container-max-width;
    margin: 0 auto;
    padding: 100px 16px 0 16px;
  }

  .top-container {
    flex-direction: column;

    .col {
      width: 100%;

      &.col-right {
        padding-left: 0;
      }
    }
  }

  .book__wrapper-inner {
    flex-direction: column;

    .col {
      width: 100%;
    }
  }

  .book__wrapper-inner {
    .col {
      padding: 0;
      .form-group .form-control {
        min-width: 340px;
      }
    }

    .dates-table {
      font-size: 12px;

      thead {
        th {
          padding: 4px 2px;
        }
      }

      tbody {
        tr {
          td {
            padding: 4px 2px;
          }
        }
      }}
  }
}

@media screen and (max-width: $mobile-container-max-width) {
  .book__wrapper-inner {
    .col {

      .form-group .form-control {
        min-width: 280px;
      }
    }
  }
}

