<h1 class="tour-list-header">Наші тури</h1>
<div class="tour-list-wrapper">
  <div *ngFor="let tour of (tours$ | async)" [routerLink]="'/tour/' + tour.id" class="tour-list-card">
    <img [src]="tour.imgUrl">
    <div class="tour-list-card__content">
      <h3 class="tour-list-card__title">{{tour.title}}</h3>
      <p class="tour-list-card__price">{{tour.price}}</p>
      <ul class="tour-list-card__tags">
        <li *ngFor="let tag of tour.tags">{{tag}}</li>
      </ul>
    </div>
  </div>
</div>
