@import "src/styles/variables";
.tour-list {

  &-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
  }

  &-wrapper {
    margin: 0 auto;
    max-width: $desktop-container-max-width;
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    justify-content: center;
  }

  &-card {
      width: calc(33% - 24px);
      box-shadow: 1px 1px 3px $shadow-color;
      border-radius: 8px;
      cursor: pointer;
      transition: all .2s;
      margin: 12px;
      min-width: 300px;
      background-color: white;

    &:hover {
      transform: translateY(-2px);
    }

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }

    &__content {
      padding: 16px;
    }

    &__title {
      font-size: 14px;
      font-weight: normal;
      text-transform: uppercase;
    }

    &__price {
      font-size: 18px;
      font-weight: bold;
    }

    &__tags {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 4px 12px;
        font-size: 12px;
        color: $primary-accent-color;
        background-color: lighten($primary-accent-color, 30%);
        font-weight: bold;
        border-radius: 8px;
        display: block;
        margin-top: 8px;

       &:not(:last-child) {
         margin-right: 12px;
       }
      }
    }
  }
}

@media screen and (max-width: $desktop-container-max-width) {
  .tour-list {
    &-wrapper {
      max-width: $tablet-container-max-width;
    }
  }
}
