@import "variables";


.primary-btn, .secondary-btn {
  outline: none;
  border: none;
  cursor: pointer;
  transition: all .2s;
}

.primary-btn {
  background-color: $primary-accent-color;
  padding: 8px 24px;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;

  &:hover {
    background-color: darken($primary-accent-color, 10%);
    transform: translateY(-2px);
  }
}

.secondary-btn {
  background-color: white;
  padding: 8px 24px;
  color: $primary-font-color;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;

  &:hover {
    background-color: $primary-font-color;
    color: white;
    transform: translateY(-2px);
  }
}

.btn-xl {
  padding: 12px 32px;
  font-size: 18px;
}
