@import "variables";

.form-group {
  position: relative;

  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
    color: $primary-font-color;
  }

  .form-control-dark {
    background-color: darken($primary-bg, 5%);
    color: $primary-font-color;
  }

  .form-control {
    min-width: 400px;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 14px;
    color: $primary-font-color;
    margin-bottom: 24px;

    input[type="text"] {
      color: $primary-font-color;
    }

    &::placeholder {
      color: $secondary-font-color;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset !important;
    }
  }

  .form-text {
    position: absolute;
    left: 0;
    bottom: 6px;
    font-size: 12px;
  }
}
