@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "buttons";
@import "forms";

body {
  margin: 0;
  background-color: $primary-bg;
}

* {
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

.text-error {
  color: red;
}
