
// Spacing
$nav-bar-height: 70px;
$desktop-container-min-width: 80vw;
$desktop-container-max-width: 1200px;
$tablet-container-max-width: 750px;
$mobile-container-max-width: 400px;

// Colors
$primary-accent-color: #F95861;
$primary-font-color: #2d2d2d;
$secondary-font-color: lighten(#2d2d2d, 30%);
$shadow-color: rgba(0, 0, 0, 0.2);
$primary-bg: #f2f2f2;

