.main-container {
  width: 900px;
  margin: 0 auto;

  .top-block {
    width: 900px;
    background-color: gold;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 20px;
  }

  .top-block-inner {
    height: 60px;
    width: 260px;
    background-color: white;
    border: 2px solid black;
  }

  .middle-block {
    display: flex;
    &-col-1 {
      height: 600px;
      background-color: blue;
      border: 2px solid black;
      width: 300px;
    }

    &-col-2 {
      padding: 40px;
      display: flex;

      &-inner-1 {
        margin-right: 40px;
        width: 240px;
        .block-3 {
          height: 420px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid black;
        }

        div:last-child {
          background-color: red;
          border: 2px solid black;
          height: 100px;
        }
      }

      .block-4 {
        width: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: blue;
        border: 2px solid black;
      }
    }
  }

  .bottom-block {
    background-color: gold;
    border: 2px solid black;
    height: 100px;
  }
}

