<div class="description__wrapper">
  <h1>Сайт для туристичної агенції</h1>
  <p>Сайт перезентуватиме тури по Україні та дозволятиме користувачу бронювати тури</p>
  <h3>Функціонал і структура сайту</h3>
  <h4>Хедер</h4>
  <ul>
    <li>Лого та навігація</li>
  </ul>
  <h4>Головна сторінка</h4>
  <ul>
    <li>Банер з великим фоновим фото, коротким текстом про агенцію та двома кнопками, що ведуть на тури та контакти</li>
    <li>Список турів з фото, назвою, тегами та ціною, по натиску на тур буде перехід на сторінку туру</li>
  </ul>
  <h4>Футер</h4>
  <ul>
    <li>Контакти</li>
    <li>Посилання на соціальні мережі</li>
  </ul>
  <h4>Сторінка з деталями туру</h4>
  <ul>
    <li>Фото, назва туру</li>
    <li>Інформація про маршрут та ціну</li>
    <li>Короткий опис туру</li>
    <li>План туру по днях</li>
    <li>Форма зв'язку, що дозволяє обрати дату поїздки та заповнити особисті дані</li>
  </ul>
</div>
