:host {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: #f5f5f5;
}

.description__wrapper {
  padding: 16px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
