<app-navigation *ngIf="!hideNavigationAndFooter" (itemClicked)="onNavigationChange($event)"></app-navigation>
<router-outlet (activate)="onActivate($event)"></router-outlet>
<app-footer *ngIf="!hideNavigationAndFooter"></app-footer>
