.calc {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .calc-screen {
      font-size: 24px;
      font-weight: bold;
      border: none;
      border-radius: 10px;
      margin-bottom: 10px;
      padding: 12px;
      text-align: right;

      &:disabled {
        background-color: white;
      }
    }

    .calculator {
      width: 400px;
    }

    .number-btns_wrapper, .actions-horizontal {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .calc-btn {
        flex: 1 0 calc(33.3% - 8px);
        padding: 10px;
        cursor: pointer;
        background-color: white;
        border-radius: 10px;
        border: 1px solid #dedede;
        font-size: 20px;
        font-weight: bold;
        margin: 4px;
        box-shadow: 1px 1px 3px 0px #dedede;
        transition: all .2s;

        &:hover {
         transform: translateY(-2px);
        }
      }

      .summary-btn {
        background-color: #F95861;
        color: white;
      }
    }

    .actions-vertical {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      margin: 0 10px;

      .action-btn {
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid #dedede;
        font-size: 20px;
        font-weight: bold;
        margin: 4px 0;
        box-shadow: 1px 1px 3px 0px #dedede;
        background-color: lightsalmon;
        transition: all .2s;

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }

  &-inner {
    display: flex;
  }

  &-screen {
    width: 100%;
  }


}
