<div class="calc-wrapper">
  <div class="calculator">
    <input type="text" class="calc-screen" [attr.disabled]="true" [formControl]="screenControl">
    <div class="actions-horizontal">
      <button *ngFor="let action of horizontalActions" (click)="onActionClick(action)" class="calc-btn">{{action}}</button>
    </div>
    <div class="calc-inner">
      <div class="number-btns_wrapper">
        <button *ngFor="let val of valueBtns" (click)="onValueClick(val)" class="calc-btn">{{val}}</button>
        <button *ngFor="let action of summaryActions" (click)="onActionClick(action)" class="calc-btn summary-btn">{{action}}</button>
      </div>
      <div class="actions-vertical">
        <button *ngFor="let action of verticalActions" (click)="onActionClick(action)"  class="action-btn">{{action}}</button>
      </div>
    </div>
    <div class="summary-actions">
    </div>
  </div>
</div>
