<div class="page__container">
  <div class="courses__wrapper">
    <h1 class="courses__title-lighter">Популярні напрямки</h1>
    <h1 class="courses__title-darker">курсів програмування</h1>
    <div class="courses__wrapper-inner">
      <div class="course-card">
        <div class="course-card__content">
          <div class="course-card__image">
            <img src="/assets/js-logo.png">
          </div>
          <p class="course-card__image-title">Complex</p>
          <h2 class="course-card-title">Javascript</h2>
          <h3 class="course-card-subtitle">Комплексний курс</h3>
          <ul class="card-info">
            <li class="card-info-item">Стартовий рівень: початківець</li>
            <li class="card-info-item">Тривалість: 5-11 місяців</li>
            <li class="card-info-item">Ціна: від 14500 грн.</li>
          </ul>
          <p class="timing-label">
            Залишилось 3 місця
          </p>
        </div>
        <button class="more-btn">
          Детальніше
        </button>
      </div>
      <div class="course-card">
        <div class="course-card__content">
          <div class="course-card__image">
            <img src="/assets/java-logo.png">
          </div>
          <p class="course-card__image-title">Complex</p>
          <h2 class="course-card-title">Java</h2>
          <h3 class="course-card-subtitle">Комплексний курс</h3>
          <ul class="card-info">
            <li class="card-info-item">Стартовий рівень: початківець</li>
            <li class="card-info-item">Тривалість: 6-11 місяців</li>
            <li class="card-info-item">Ціна: від 14500 грн.</li>
          </ul>
          <p class="timing-label">
            Залишилось 3 місця
          </p>
        </div>
        <button class="more-btn">
          Детальніше
        </button>
      </div>
      <div class="course-card">
        <div class="course-card__content">
          <div class="course-card__image">
            <img src="/assets/python-logo.png">
          </div>
          <p class="course-card__image-title">Complex</p>
          <h2 class="course-card-title">Python</h2>
          <h3 class="course-card-subtitle">Комплексний курс</h3>
          <ul class="card-info">
            <li class="card-info-item">Стартовий рівень: початківець</li>
            <li class="card-info-item">Тривалість: 6-11 місяців</li>
            <li class="card-info-item">Ціна: від 14500 грн.</li>
          </ul>
          <p class="timing-label">
            Залишилось 3 місця
          </p>
        </div>
        <button class="more-btn">
          Детальніше
        </button>
      </div>
    </div>
  </div>
  <div class="lesson-photos">
    <img src="assets/lessons-1.png">
    <img src="assets/lessons-2.png">
    <img src="assets/lessons-3.png">
    <img src="assets/lessons-4.png">
  </div>
  <div class="school-description__wrapper">
    <img src="assets/teacher.png">
    <div class="school-description__content">
      <h1 class="school-description__title">Від новачка до Pro-розробника</h1>
      <div class="school-description__text">
        <p>
          Робота в ІТ - це високі зарплати, можливість віддаленої співпраці із закордонними компаніями і свобода вибору.
          Але є і мінуси. Низький старт - головний з них. Фахівцю без досвіду складно отримати робочий стаж, а зарплата коливається на рівні мінімальної.
        </p>
        <p>
          На курсах з інкубатором наші студенти отримують додаткових 5 місяців досвіду, який так сильно вимагають роботодавці.
        </p>
        <p>
          З таким резюме ви станете бажаним кандидатом для будь-якої компанії.
        </p>
      </div>
    </div>
  </div>
  <div class="bottom-banner">
      <p class="bottom-banner-pay-later">Навчайся зараз, сплачуй потім</p>
    <div class="bottom-banner-loan">
      <img src="assets/lab3-bottom.png">
      <p class="bottom-banner-cta">Розтермінування на 24 місяці</p>
    </div>
  </div>
</div>
