%basic-title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 4px;
  color: white;
  letter-spacing: 1px;
}

%basic-info-label {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  color: rgb(47 148 236);
}

.page__container {
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
}

.courses__wrapper {
  padding: 32px;
  background-color: rgb(41 41 41);
  display: flex;
  flex-direction: column;
  align-items: center;

  .courses__title-lighter {
    @extend %basic-title;
    font-size: 20px;
    margin-bottom: 0;
  }

  .courses__title-darker {
    @extend %basic-title;
    font-size: 32px;
    margin-top: 4px;
    margin-bottom: 60px;
    color: rgb(202 122 53);
    letter-spacing: 0;
  }

  &-inner {
    display: flex;
    width: 100%;

    .course-card {
      flex: calc(33.3% - 32px);
      border-radius: 20px;
      border: 1px solid rgb(60 60 60);
      background-color: rgb(33 33 33);
      cursor: pointer;

      &:hover {
        .course-card__content {
          border: 1px solid rgb(202 122 53);
        }
      }

      &:not(:last-child) {
        margin-right: 32px;
      }

      &__content {
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border: 1px solid transparent;
      }

      .course-card__image {
        img {
          height: 60px;
        }

        &-title {
         @extend %basic-info-label;
        }
      }

      &-title {
        @extend %basic-title;
        margin-bottom: 4px;
      }

      &-subtitle {
        font-size: 18px;
        font-weight: 900;
        margin-top: 0;
        margin-bottom: 16px;
        color: rgb(202 122 53);
      }

      .more-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background-color: rgb(41 41 41);
        color: white;
        font-weight: bold;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 16px 0;
        cursor: pointer;
      }
    }

    .timing-label {
      @extend %basic-info-label;
      margin-top: 16px;
      margin-bottom: 0;
    }

    .card-info {
      color: white;
      list-style: none;
      padding-inline-start: 0;

      &-item {
        font-size: 18px;
        margin-bottom: 8px;
      }
    }

  }
}

.lesson-photos {
  display: flex;
  justify-content: space-around;
  background-color: rgb(47 148 236);
  padding: 32px 0;
  margin-top: 60px;

  img {
    height: 220px;
    width: 22%;
    border-radius: 16px;
    object-fit: cover;
  }
}

.school-description {
  &__wrapper {
    display: flex;
    padding: 32px;

    img {
      flex: 0 0 40%;
      height: auto;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__title {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(255 150 57);
  }

  &__text {
    max-width: 500px;
    font-size: 18px;
    line-height: 150%;
    position: relative;
    margin: 40px;

    &:before,
    &:after {
      height: 60px;
      width: 60px;
      position: absolute;
      content: '';
    }

    &:before {
      left: -40px;
      top: -20px;
      border-left: 3px solid rgb(47 148 236);
      border-top: 3px solid rgb(47 148 236);
      border-top-left-radius: 12px;
    }

    &:after {
      right: -40px;
      bottom: -20px;
      border-right: 3px solid rgb(255 150 57);
      border-bottom: 3px solid rgb(255 150 57);
      border-bottom-right-radius: 12px;
    }
  }
}

.bottom-banner {
  background-color: rgb(255 150 57);
  display: flex;
  align-items: center;

  > div, > p {
    flex: 0 0 50%;
    padding: 16px 32px;
  }

  &-pay-later {
    font-weight: 900;
    color: white;
    font-size: 40px;
    margin: 0;
    line-height: 0.8;
    position: relative;

    &:before,
    &:after {
      height: 30px;
      width: 30px;
      position: absolute;
      content: '';
    }

    &:before {
      left: 20px;
      bottom: 6px;
      border-left: 3px solid rgb(47 148 236);
      border-bottom: 3px solid rgb(47 148 236);
      border-bottom-left-radius: 6px;
    }

    &:after {
      right: -10px;
      top: 6px;
      border-right: 2px solid rgb(47 148 236);
      border-top: 2px solid rgb(47 148 236);
      border-top-right-radius: 6px;
    }
  }

  &-loan {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    margin-left: 30px;
  }
}
