.main-container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;

  .top-block {
    width: 100%;
    background-color: gold;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 20px;
  }

  .top-block-inner {
    height: 5vh;
    width: 30%;
    background-color: white;
    border: 2px solid black;
  }

  .middle-block {
    display: flex;
    &-col-1 {
      height: 80vh;
      background-color: blue;
      border: 2px solid black;
      width: 30%;
    }

    &-col-2 {
      width: 70%;
      padding: 40px;
      display: flex;

      &-inner-1 {
        margin-right: 40px;
        width: 50%;
        .block-3 {
          height: calc(70vh - 80px);
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid black;
        }

        div:last-child {
          background-color: red;
          border: 2px solid black;
          height: 10vh;
        }
      }

      .block-4 {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: blue;
        border: 2px solid black;
      }
    }
  }

  .bottom-block {
    background-color: gold;
    border: 2px solid black;
    height: 10vh;
  }
}

