<div class="main-container">
  <div class="top-block">
    <div class="top-block-inner">
    </div>
    1
  </div>
  <div class="middle-block">
    <div class="middle-block-col-1">

    </div>
    <div class="middle-block-col-2">
      <div class="middle-block-col-2-inner-1">
        <div class="block-3">
          3
        </div>
        <div>
        </div>
      </div>
      <div class="block-4">
        4
      </div>
    </div>
  </div>
  <div class="bottom-block">
  </div>
</div>
