<div class="wrapper">
  <h2>Введіть дані</h2>
  <textarea [formControl]="arrayInput"></textarea>
  <button class="primary-btn" style="margin-bottom: 20px;" (click)="transformArray()">Опрацювати масив</button>
  <ng-container *ngIf="sortedOutput && multipliedArrayOutput">
    <label>Масив з множенням на максимум</label>
    <textarea [formControl]="multipliedArrayOutput" [attr.disabled]="true"></textarea>
    <label>Сортований масив</label>
    <textarea [formControl]="sortedOutput" [attr.disabled]="true"></textarea>
  </ng-container>

</div>
