.main-table {
  border: 2px solid black;
  text-align: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;

  .top-row {
    background-color: gold;
    border: 2px solid black;

    table {
      border: 2px solid black;
      margin: 16px;
      height: 40px;
      width: 100%;
      background-color: white;
    }
  }

  .middle-row {
    > td:first-child {
      background-color: blue;
      border: 2px solid black;
      width: 30%;
      height: 40px;
    }
  }

  .middle-row-inner-table-first {
    width: calc(100% - 40px);
    margin: 20px;
    > tr:first-child {
      height: 80px;
      background-color: red;

      > td {
        border: 1px solid black;
      }
    }

    .block-4 {
      width: 50%;
      background-color: blue;
      border: 2px solid black;
      margin: 10px 0;
    }

    .middle-row-inner-table-second {
      width: 100%;

      td {
        border: 2px solid gray;
      }

      tr {
        &:first-child {
          height: 400px;
        }
      }

      .block-3 {
        width: 100%;
        background-color: red;
      }
    }
  }

  .block-5 {
    width: 100%;
    height: 100px;
    background-color: gold;
    border: 1px solid black;
    margin: 10px 0;
  }
}
