<table class="main-table">
  <tr class="top-row">
    <td>
      <table>
        <tr>
          <td></td>
        </tr>
      </table>
    </td>
    <td>1</td>
  </tr>
  <tr class="middle-row">
    <td>2</td>
    <td>
      <table class="middle-row-inner-table-first">
        <tr>
          <td colspan="2">2</td>
        </tr>
        <tr>
          <td>
            <table class="middle-row-inner-table-second">
              <tr>
                <td>3</td>
              </tr>
              <tr class="block-3">
                <td>3</td>
              </tr>
            </table>
          </td>
          <td class="block-4">4</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="block-5">
    <td colspan="2">5</td>
  </tr>
</table>
